block variables

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    base(href="/")

    title Endurance North

    meta(name="description" content="Endurance North - Elegance and luxury")

    link(rel='stylesheet' href="main.css")

  body
    include ./partials/navigation.pug

    .content(data-template=template)
      block content

    script(src="main.js" type="module")
