.home {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFE9E2;
}

.home__wrapper {

}

.home__gallery {
    display: flex;
    border: 1px solid #000;
    transform: rotateZ(15deg);
}

.home__gallery__media {
    width: 44.7rem;
    height: 28.7rem;
    margin: 4rem 4.34rem;
}

.home__gallery__media__image {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.home__titles {
    color: #1F1F1F;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(-15deg);
}

.home__titles__wrapper {
    display: flex;
    position: inherit;
}

.home__titles__title {
    font-family: $font-glamore;
    font-size: 18.5rem;
    margin: auto 9.2rem;
    
    &::after {
        content: 'collection';  
        font-size: 2.5rem;
        position: absolute;
        top: calc(100%);
    }

    &:nth-child(1)::after {
        left: calc(20% - 8rem)
    }

    &:nth-child(2)::after {
        left: calc(40% - 8rem)
    }

    &:nth-child(3)::after {
        left: calc(60% - 8rem)
    }

    &:nth-child(4)::after {
        left: calc(80% - 8rem)
    }

    &:nth-child(5)::after {
        left: calc(100% - 8rem)
    }
}

.home__tip__text {
    font-family: $font-six-caps;
    font-size: 3rem;
    color: #6D6D6D;
    position: absolute;
    top: 6.2rem;
    left: 13.32rem;
    transform: rotateZ(15deg);
}