.preloader {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: #EFE9E2;
  z-index: 5;
  justify-content: space-evenly;
}

.preloader__text {
  display: flex;
  flex-direction: column;
  font-family: $font-six-caps;
  align-items: center;

  span {
    display: inline-block;
  }
}

.preloader__text__title {
  font-size: 4rem;
  color: #1f1f1f;
  overflow: hidden;

  span {
    display: inline-block;

    span {
      display: inline-block;

      span {
        display: inline-block;
      }
    }
  }
}

.preloader__text__subtitle {
  font-size: 3rem;
  letter-spacing: 4.25rem;
  color: #1f1f1f;
}

.preloader__number {
  font-family: $font-six-caps;
  font-size: 12rem;
}