.preloader {
  @extend %cover;
  @extend %center;

  display: flex;
  flex-direction: column;
  text-align: center;
  background: $color-contessa;
  z-index: 3;
}

.preloader__text {
  font-size: 0;
  color: $color-white;
  max-width: 66rem;

  span {
    display: inline-block;
    overflow: hidden;

    span {
      @extend %title-53;
    }
  }
}

.preloader__number {
  @extend %description-14;

  color: $color-white;
  position: absolute;
  left: 50%;
  bottom: 7.3rem;
  transform: translate(-50%, 0);
}

