@mixin ratio($width, $height) {
  font-size: 0;
  overflow: hidden;
  position: relative;

  &:after {
     display: inline-block;
     content: "";
     width: 100%;
     padding-top: ($height / $width) * 100%;
  }
}

%cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%center {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
