extends ../template.pug

block variables
  - var template = 'contact'

block content
  .contact
    .contact__left__instagram
        .contact__left__instagram__marquee
            p follow us on instagram <span>&#8226;</span> @endurance
            p follow us on instagram <span>&#8226;</span> @endurance
            p follow us on instagram <span>&#8226;</span> @endurance
            p follow us on instagram <span>&#8226;</span> @endurance
    
    .contact__wrapper
        .contact__header 
            h1.contact__header__title we want to hear you 
            h3.contact__header__subtitle get in touch.
        
        .contact__content
            form.contact__content__form
                input.contact__content__form__input(type='text', placeholder='name:')
                input.contact__content__form__input(type='text', placeholder='e-mail:')
                textarea.contact__content__form__input(placeholder='tell us what you need.')
                button.contact__content__form__button send it

        .contact__footer 
            .contact__footer__left
                p.contact__footer__phone
                    | you can call us: 
                    | +55 9 9090-8765

            .contact__footer__right
                address.contact__footer__address 
                    | our locations: 
                    | some random address goes here.