<<<<<<< HEAD
=======
.cursor {
    pointer-events: none;
}

>>>>>>> e11d503e56f9dbc2466f040548c19a421e15437e
.nav {
  font-family: "Six Caps";
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #EFE9E2;
<<<<<<< HEAD
=======
  z-index: 3;
>>>>>>> e11d503e56f9dbc2466f040548c19a421e15437e
}

.nav__left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

<<<<<<< HEAD
.nav_center_link {
=======
.nav__center__link {
>>>>>>> e11d503e56f9dbc2466f040548c19a421e15437e
  font-size: 4rem;
}

.nav__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 1rem;
}

<<<<<<< HEAD
.nav_list_item {
=======
.nav__list__item {
>>>>>>> e11d503e56f9dbc2466f040548c19a421e15437e
  font-size: 3.5rem;
  margin-left: 1.4rem;
}

.login {
<<<<<<< HEAD
    height: 100vh;
}
=======
    height: 120vh;
}

>>>>>>> e11d503e56f9dbc2466f040548c19a421e15437e
.login__wrapper {
    flex-direction: column;
    height: inherit;
    width: 100%;
<<<<<<< HEAD
}

.login_wrapper_top {
    height: 50%;    
=======
    position: absolute;
}

.login__wrapper__top {
    height: 80%;    
>>>>>>> e11d503e56f9dbc2466f040548c19a421e15437e
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

<<<<<<< HEAD
.login_wrapper_bottom {
=======
.login__wrapper__bottom {
>>>>>>> e11d503e56f9dbc2466f040548c19a421e15437e
    height: 50%;    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
<<<<<<< HEAD
}
.login__container {
    height: 40rem;
    flex: 1;
    background-color: red;
}

.signup__container {
    height: 40rem;
    flex: 1;
    background-color: blue;
}

.login_left_text{
    font-family: Glamore;
    font-size: 10rem;
    color: #000000;
    transform: rotate(-90deg);
}

.login_form_input{
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #000000;
  padding-top: 1.5rem;
  width: 43rem;
  height: 5rem;
  font-family: 'Six Caps';
  font-size: 2rem;
  letter-spacing: 0.3rem;
  outline: none;
}

.login__right{
  width:7.6rem;
  height: 1.3rem;
}

.login__form{
  font-family:'Glamore';
  display: flex;
  flex-direction: column;
  color: #000000;

}

.login_form_button{
  background-color: #000000;
  color: #ffffff;
  border: none;
  margin-top: 1.5rem;
  font-family: 'Glamore';
  width: 43rem;
  height: 5rem;
  cursor: pointer;
}

.signup_left_text{
  font-family: Glamore;
  font-size: 10rem;
  color: #000000;
  transform: rotate(-90deg);
}

.signup_form_button{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid black;
  margin-top: 1.5rem;
  margin-right: 5rem;
  font-family: 'Glamore';
  width: 43rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.login_wrapper_bottom{
  margin-left: -30rem;
}

.login_wrapper_top{
  margin-left: 35rem;
=======
    padding-right: 3rem;
}

.login__left__text {
    font-family: 'Glamore';
    font-size: 20rem;
    transform: rotateZ(-90deg);
    color: #000;
}

.login__right {
    width: 70rem;
}

.login__form {
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Glamore';
    margin-left: -10rem;
}

.login__form__input {
    font-family: 'Glamore';
    font-size: 2.5rem;
    border: none;
    border-bottom: 2px solid #000;
    background-color: transparent;
    text-indent: 1rem;
    height: 10rem;
}

.login__form__button {
    font-family: 'Glamore';
    font-size: 2.5rem;
    color: #fff;
    height: 10rem;
    background-color: #1f1f1f;
    border: none;
}

.signup__right {
    width: 70rem;
}

.signup__form {
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Glamore';
    margin-right: 10rem;
}

.signup__left__text {
    font-family: 'Glamore';
    font-size: 20rem;
    transform: rotateZ(-90deg);
    color: #000;
}

.stripe {
    height: 2px;
    width: 800vw;
    position: absolute;
    transform: translate(-50%, -50%) rotateZ(-35deg);
    left: 120%;
    background-color: #1f1f1f;
    opacity: 0.2;
}

.-signup {
    background-color: #cecece;
    border: 1px solid #1f1f1f;
    color: #000;
}

.-signup:first-child {
    background-color: #e7e7e7;
    border: 1px solid #1f1f1f;
    color: #000;
>>>>>>> e11d503e56f9dbc2466f040548c19a421e15437e
}